itickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/usr/local/cluster-zookeeper/data
authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider #指定 SASL 认证提供者
authProvider.2=org.apache.zookeeper.server.auth.DigestAuthenticationProvider
requireClientAuthScheme=digest #要求客户端使用 SASL 进行认证
jaasLoginRenew=3600000 #设置 JAAS 登录更新时间（毫秒）
zookeeper.sasl.client=true

# the port at which the clients will connect
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# https://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
server.1=xxx.1 :2888:3888
server.2=xxx.2:2888:3888
server.3=xxx.3:2888:3888

